<!-- assignments.component.html -->

<ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
  <div class="alert-body">
    <p>{{ error }}</p>
  </div>
</ngb-alert>

 <div class="container">
    <section class="left-container" cdkDropList (cdkDropListDropped)="onDrop($event)">
      <h2 class="centered-title red-text">Non rendus</h2>
      <div class="card" *ngFor="let assignment of renduFalseAssignments" cdkDrag [cdkDragData]="assignment" style="width: 18rem;">
        <img [src]="assignment.subject.uri_mat" alt="Image de {{ assignment.auteur }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> Auteur :  {{ assignment.auteur }}</p>
        </div>
      </div>
    </section>
    
    <div class="middle-text">
      <h2>Glisser à droite pour rendre ➡➡➡</h2>
    </div>
  
    <aside class="right-container">
      <h2 class="centered-title green-text">Rendus</h2>
      <div class="card" *ngFor="let assignment of renduTrueAssignments" cdkDrag [cdkDragData]="assignment" style="width: 18rem;">
        <img [src]="assignment.subject.uri_mat" alt="Image de {{ assignment.auteur }}" class="card-img-top">
        <div class="card-body">
          Auteur : {{ assignment.auteur }}
          <br>
          Date de rendu : {{ assignment.dateRendu }}
          <br>
          Note : {{ assignment.note }}
        </div>
      </div>
    </aside>
  </div>
  
  

  <ng-template #noteModal>
    <div class="modal-header">
      <h4 class="modal-title">Ajouter une note</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="noteForm" (ngSubmit)="submitNote()">
        <div class="form-group">
          <div class="form-group">
            <label for="dateRendu">Date de rendu :</label>
            <input type="date" class="form-control" id="dateRendu" formControlName="dateRendu" required>
          </div>
        
          <div class="form-group">
            <label for="note">Note :</label>
            <input type="number" class="form-control" id="note" formControlName="note" required>
          </div>
        
          <div class="form-group">
            <label for="remarque">Remarque :</label>
            <input type="text" class="form-control" id="remarque" formControlName="remarque" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </ng-template>


<div class="button-container">
  <button class="btn btn-primary" (click)="premierePage()" [disabled]="!hasPrevPage">
    Première page
  </button>
  <button class="btn btn-primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage">
    Page Précédente
  </button>
  <button class="btn btn-primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
  <button class="btn btn-primary" (click)="dernierePage()" [disabled]="!hasNextPage">
    Dernière page
  </button>
</div>