/* assignments.component.css */

.card-container {
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
  }

.container {
  display: flex;
  justify-content: space-between;
}

.modal-header {
  background-color: #f0f0f0;
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}
.small-image {
  max-width: 200px; /* Définissez la largeur maximale souhaitée */
  max-height: 200px; /* Définissez la hauteur maximale souhaitée */
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.centered-title {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
}